*{
    margin: 0;
    padding: 0;
    color: #455560;
    font-size: 14px;
}
html, 
body{
    height: 100%!important;
    overflow: hidden;
    /* background-color: #fafafb; */
    color: #455560;
    line-height: 1.5;
}
.box_center{
    height: 70px;
    width: 60%;
    margin: auto;
   
}
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    color: #1a3353;
   
}

.bold{
    font-weight: 500;
}
.bold.size30{
    font-size: 30px;
}
p a{
    color: #3e79f7;
    text-decoration: none;
    background-color: transparent;
    outline: 0;
    cursor: pointer;
}

p a:hover {
    color: #699dff;
    text-decoration: none;
}
.IMGBG {
    background-image: url('https://emilus.themenate.net/img/others/img-17.jpg');
    background-size: cover;
    height: 100vh;
    justify-content: space-between;
}
.Box_IMG {
    justify-content: center;
    align-items: center;
}

.text-white{
    color: white;
}

.text-white.title {
    font-size: 30px;
    font-weight: 500;
}

.netdut{
    position: relative;
}
.ant-input {
    box-sizing: border-box;
    margin: 0;
    padding-right: 30px;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 8.5px 11px;
    color: #455560;
    font-size: 14px;
    padding-left: 30px;
    line-height: 1.5;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e6ebf1;
    border-radius: .625rem;
    transition: all .3s
}

.ant-input:hover {
    border-color: #699dff;
    border-right-width: 1px!important;
} 

.ant-input:focus {
    border-color: #699dff;
    border-right-width: 1px!important;
    outline: 0;
    box-shadow: 0 0 0 2px rgb(62 121 247 / 20%);
}

.text-primary {
    color: #3e79f7!important;
}
.icon-input{
    position: absolute;
    top: 13px;
    left: 10px;
    z-index: 1;
}


.img-right {
    text-align: right!important;
    height: 100px;
}

.img-right img{
    height: auto;
    width: 100px;
}

.content_footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 1.5rem!important;
}
.label_input{
    color: #1a3353;
    font-weight: 500;
}
.label_input:before {
    display: inline-block;
    margin-right: 4px;
    color: #ff6b72;
    font-size: 14px;
  
    content: '*';
}

.div_box20{
    height: 20px;
}
.div_box5{
    height: 5px;
}


.ant-btn {
    line-height: 1.5;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
    cursor: pointer;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
    height: 40px;
    padding: 8.5px 1.25rem;
    font-size: 14px;
    margin-right: 10px;
    border-radius: .625rem;
    color: #455560;
    background: #fff;
    border-color: #e6ebf1;
}
.ggfb{
    padding-left: 10px;
}
.ant-btn:hover{
    background-color: #ededed;
    border-color: #ededed;
    color: #455560;
}
.ant-btn-primary {
    color: #fff;
    background: #3e79f7;
    border-color: #3e79f7;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}
.ant-btn-block {
    width: 100%;
}
#btntext{
    color: #fff;
}
.flex{
  
    justify-content: center;
    height: 70%;
    margin: auto;
    -webkit-justify-content: center;
}

.ant-btn-primary:focus, .ant-btn-primary:hover {
    color: #fff;
    background: #699dff;
    border-color: #699dff;
}


.ant-divider-horizontal.ant-divider-with-text {
    display: -webkit-flex;
    display: flex;
    margin: 16px 0;
    color: #1a3353;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    text-align: center;
    border-top: 0;
    border-top-color: #e6ebf1;
}



.netdut1{
    height: 1px;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 2;
    width: 100%;
    margin-right: 10px;
    background-color: #e6ebf1;
}

.netdut2{
    
    
    height: 1px;
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 2;
    width: 100%;
    margin-left: 10px;
    background-color: #e6ebf1;
}
.input-from{
      width: 100%;
       height: 100vh;
       display:flex;
       justify-content:center;
        align-items:center;
}
.input-form-row{
    width: 380px;
    height: auto;
}
a.text-white:hover{
text-decoration: none;
}
.div_input{
    position: relative;
}
.icon_password{
    position: absolute;
    top: 13px;
    right: 10px;
    z-index: 3;
    cursor: pointer;
}
.content_footer a{
    text-decoration: none;
}

.box_connect .content {
    color: rgba(114,132,154,.7)!important;
}