.view_box{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    background-image: url("https://emilus.themenate.net/img/others/img-17.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.box{
    width: 350px;
    height: 365px;
    background-color: white;
    border-radius: 0.625rem;
}
.color_input{
    color: #455560;
}
.color_text{
    color: #455560;
}